.button {
    text-align: center;
}


hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }  


  body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
  .w3-bar-block .w3-bar-item {padding:20px}
  body {font-family: Arial, Helvetica, sans-serif;}
  
  .navbar {
    width: 100%;
    background-color: pink;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: palevioletred;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  .container {
      position: relative;
      text-align: center;
      color: white;
  }
  .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  mark { 
    background-color: yellow;
    color: black;
  }
  
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: hotpink;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  
  body {
    background-color: rgb(252, 233, 214);
    text-align: center;
  }
  
  
  
  
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
  .snip1533 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #9e9e9e;
    display: inline-block;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    margin: 35px 10px 10px;
    max-width: 310px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid #d2652d;
  }
  
  .snip1533 *,
  .snip1533 *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  
  .snip1533 figcaption {
    padding: 13% 10% 12%;
  }
  
  .snip1533 figcaption:before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #d2652d;
    content: "\f10e";
    font-family: 'FontAwesome';
    font-size: 32px;
    font-style: normal;
    left: 50%;
    line-height: 60px;
    position: absolute;
    top: -30px;
    width: 60px;
  }
  
  .snip1533 h3 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0 5px;
  }
  
  .snip1533 h4 {
    font-weight: 400;
    margin: 0;
    opacity: 0.5;
  }
  
  .snip1533 blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
  }
  
  .testimonial-font {
    font-family: Garamond, serif;
    }
  
  
  
  
  
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  body > div.flex {
      background-color: #faeee7;
  }
  body > div.flex > div > div {
      background-color: #fffffe;
  }
  body > div.flex > div > div h1 {
      color: #33272a;
  }
  body > div.flex > div > div p, body > div.flex > div > div label {
      color: #594a4e;
  }
  body > div.flex > div > div form p:last-of-type {
      font-size: 18px;
      color: #33272a;
      font-weight: 500;
  }
  body > div.flex > div > div form button {
      background: #ffc6c7;
      color: #33272a;
      font-weight: 500;
  }
  body > div.flex > div > div form button:hover {
      background: #faeee7;
  }
  
  @media screen and (max-width: 400px) {
      body > div.flex > div > div {
          width: 320px;
          padding: 1rem 0.25rem;
      }
  }  
  
  .footer-color {
      color: rgb(201, 93, 111);
   }
  
  
  
  
  
  .social-menu ul{
      position: absolute;
      top: 470%;
      left: 50%;
      padding: 0;
      margin: 0;
      transform: translate(-50%, -50%);
      display: flex;
  }
  
  .social-menu ul li{
      list-style: none;
      margin: 0 15px;
  }
  
  .social-menu ul li .fab{
      font-size: 30px;
      line-height: 60px;
      transition: .3s;
      color: #000;
  }
  
  .social-menu ul li .fab:hover{
      color: #fff;
  }
  
  .social-menu ul li a{
      position: relative;
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #fff;
      text-align: center;
      transition: .6s;
      box-shadow: 0 5px 4px rgba(0,0,0,.5);
  }
  
  .social-menu ul li a:hover{
      transform: translate(0, -10%);
  }
  
  .social-menu ul li:nth-child(1) a:hover{
      background-color: rgba(0, 0, 0, 0.829);
  }
  .social-menu ul li:nth-child(2) a:hover{
      background-color: #E4405F;
  }
  
  .social-menu {
    background-color: peachpuff;
  }
  
  
  
  
  
  
  
  .coupon {
    border: 5px dotted rgb(246, 168, 203);
    width: 80%;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 600px;
  }
  
  .containerpromo {
    padding: 2px 16px;
    background-color: #fbe3eb;
  }
  
  .promo {
    background: rgb(245, 250, 216);
    padding: 3px;
  }
  
  .expire {
    color: rgb(240, 57, 102);
  }
  
  
  
  
  
  /* The popup chat */
  .open-button {
    background-color: rgb(248, 151, 151);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #fec0c0;
    z-index: 9;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: rgb(241, 218, 218);
  }
  
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  .form-container .btn {
    background-color: #7dc8ad;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  
  .form-container .cancel {
    background-color: rgb(253, 115, 115);
  }
  
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  
  
  
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
  
  
  
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  
  
  
  /* Just to play with animations */
  .copiedtext {
    position: absolute;
    left: 0; top: 0; right: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(-1em);
    color: #000;
    transition: all .500s;
  }
  .copied .copiedtext {
    opacity: 1;
    transform: translateY(-4em);
  }
  
  /* Some Generic styles */
  body {
    text-align: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #444;
    line-height: 1.6;
  }
  h1 {
    margin: 1.75em auto 1.25em;
  }
  button {
    font-size: 1em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  
  [id="cleared"] {
    margin-top: 4em;
  }
  
  button {
    position: relative;
    padding: 8px 10px;
    border: 2px dotted black;
    font-size: 0.835em;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-weight: bold;
    color: #000;
    background: #fff;
    transition: background .275s;
  }
  button:hover,
  button:focus {
    background: #EA2237;
    color: #fff;
    cursor: pointer;
  }
  
  
  
  
  
  
  
  
  
  
  
  /* Just to play with animations */
  .copiedtext {
    position: absolute;
    left: 0; top: 0; right: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(-1em);
    color: #000;
    transition: all .500s;
  }
  .copied .copiedtext {
    opacity: 1;
    transform: translateY(-4em);
  }
  
  /* Some Generic styles */
  body {
    text-align: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #444;
    line-height: 1.6;
  }
  h1 {
    margin: 1.75em auto 1.25em;
  }
  button {
    font-size: 1em;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
  }
  
  button {
    position: relative;
    padding: 8px 10px;
    border: 2px dotted black;
    font-size: 0.835em;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-weight: bold;
    color: #000;
    background: #fff;
    transition: background .275s;
  }
  button:hover,
  button:focus {
    background: #EA2237;
    color: #fff;
    cursor: pointer;
  }
  
  
  
  /*subscription place*/
  .containersub {
    padding: 20px;
    background-color: #fecbcb;
  }
  
  input[type=text], input[type=submit] {
    width: 20%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(254, 214, 214);
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: #7c928b;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  
  
  
  
  
  .hours {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .hours > div:first-child {
    padding: 20px 0 0 30px;
  }
  
  .hours > div:last-child {
    padding: 20px 30px 0 0;
  }
  
  h1 {
    margin: 30px;
    font-size: 1.2em;
  }
  
  hr {
    margin: 5px 30px 25px;
  }
  
  .hours-box {
    min-width: 25em;
    background: rgba(255, 255, 255, 0.454);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 1em;
  }
  
  ul:first-child li:first-child {
    font-weight: bold;
    color: #000;
  }
  
  ul:last-child li:first-child {
    cursor: pointer;
  }
  
  ul {
    margin: 0;
    padding: 15px;
    list-style: none;
  }
  
  ul li {
    color: #777;
  }
  
  .navsize {
    font-weight: bold;
    font-size: 22px;s
  
  }
  .navsize {
    border-style: dashed;
    border-color: pink;
  }

  /* =========Blog page======== */


.containerblog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.split {
  flex-basis: 45%;
}

@media (max-width: 576px) {
  flex-basis: 100%;
}

.blogtitle {
  font-size: 40px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.footercolor {
  color: rgb(201, 93, 111);
}
.footerblog {
  background-color: rgb(255, 208, 179);
}


 
 