.button {
    text-align: center;
}


hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }  


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }  






 




 
 